<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMapper">
	
	<select id="listMain" resultType="main">
		select * from main
	</select>
	
	<update id="updateMain">
		update main set main_path=#{main_path}, main_use=#{main_use}, ttr_no=#{ttr_no}, main_name=#{main_name}
		where ttr_no=#{ttr_no}
	</update>
	
	<update id="insertMain" parameterType="main">
		insert into main(main_path, main_use, ttr_no, main_name)
		values(#{main_path}, #{main_use}, #{ttr_no}), #{main_name}
	</update>
	
	<update id="deleteMain" parameterType="int">
		delete from main
		where ttr_no = #{ttr_no}
	</update>
	
</mapper>