<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<update id="insertmem">
		insert into member(mem_id,mem_pw,mem_name,mem_gender,mem_birth,mem_mail,mem_mobile,mem_addr,mem_date,enabled)
		values(#{mem_id},#{mem_pw},#{mem_name},#{mem_gender},#{mem_birth},#{mem_mail},#{mem_mobile},#{mem_addr},sysdate,"1")
	</update>
	<select id="selectmembyid" resultType="mem">
		select * from member where mem_id=#{mem_id}
	</select>
	<select id="selectmembyname" resultType="mem">
		select * from member where mem_name=#{mem_name}
	</select>
	<select id="selectmem" resultType="mem">
		select * from member
	</select>
	
	<sql id="mem_search">
		<if test="search != null">
			<if test="search == 'id'.toString()">
				and mem_id like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'name'.toString()">
				and mem_name like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'gender'.toString()">
				and mem_gender like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'birth'.toString()">
				and mem_birth like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'mail'.toString()">
				and mem_mail like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'mobile'.toString()">
				and mem_mobile like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'addr'.toString()">
				and mem_addr like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'date'.toString()">
				and mem_date like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'enabled'.toString()">
				and enabled like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<sql id="mem_ord">
		<if test="ord != null">
			<if test="ord == 'id_asc'.toString()">
				order by mem_id
			</if>
			<if test="ord == 'id_desc'.toString()">
				order by mem_id desc
			</if>
			<if test="ord == 'name_asc'.toString()">
				order by mem_name
			</if>
			<if test="ord == 'name_desc'.toString()">
				order by mem_name desc
			</if>
			<if test="ord == 'gender_asc'.toString()">
				order by mem_gender
			</if>
			<if test="ord == 'gender_desc'.toString()">
				order by mem_gender desc
			</if>
			<if test="ord == 'birth_asc'.toString()">
				order by mem_birth
			</if>
			<if test="ord == 'birth_desc'.toString()">
				order by mem_birth desc
			</if>
			<if test="ord == 'mail_asc'.toString()">
				order by mem_mail
			</if>
			<if test="ord == 'mail_desc'.toString()">
				order by mem_mail desc
			</if>
			<if test="ord == 'mobile_asc'.toString()">
				order by mem_mobile
			</if>
			<if test="ord == 'mobile_desc'.toString()">
				order by mem_mobile desc
			</if>
			<if test="ord == 'addr_asc'.toString()">
				order by mem_addr
			</if>
			<if test="ord == 'addr_desc'.toString()">
				order by mem_addr desc
			</if>
			<if test="ord == 'date_asc'.toString()">
				order by mem_date
			</if>
			<if test="ord == 'date_desc'.toString()">
				order by mem_date desc
			</if>
			<if test="ord == 'enabled_asc'.toString()">
				order by enabled
			</if>
			<if test="ord == 'enabled_desc'.toString()">
				order by enabled desc
			</if>
		</if>
	</sql>
	
	<select id="searchsortmem" resultType="mem">
		select *
		from member
		where mem_id is not null
		<include refid="mem_search"></include>
		<include refid="mem_ord"></include>
	</select>
	
	<update id="updatemem">
		update member set mem_name=#{mem_name},mem_gender=#{mem_gender},mem_birth=#{mem_birth},mem_mail=#{mem_mail},mem_mobile=#{mem_mobile},mem_addr=#{mem_addr},enabled=#{enabled}
		where mem_id=#{mem_id}
	</update>
	<update id="deletemem">
		delete from member where mem_id=#{mem_id} 
	</update>
	
	<update id="insertcom">
		insert into member(com_no,com_id,com_pw,com_name,com_dname,com_mobile,com_mail,com_addr,enabled)
		values(#{com_no},#{com_id},#{com_pw},#{com_name},#{com_dname},#{com_mobile},#{com_mail},#{com_addr},"1")
	</update>
	<select id="selectcombyid" resultType="com">
		select * from company where com_id=#{com_id}
	</select>
	<select id="selectcombyname" resultType="com">
		select * from company where com_name=#{com_name}
	</select>
	<select id="selectcom" resultType="com">
		select * from company
	</select>
	
	<sql id="com_search">
		<if test="search != null">
			<if test="search == 'no'.toString()">
				and com_no like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'id'.toString()">
				and com_id like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'name'.toString()">
				and com_name like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'dname'.toString()">
				and com_dname like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'mobile'.toString()">
				and com_mobile like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'mail'.toString()">
				and com_mail like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'addr'.toString()">
				and com_addr like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'enabled'.toString()">
				and enabled like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<sql id="com_ord">
		<if test="ord != null">
			<if test="ord == 'id_asc'.toString()">
				order by com_id
			</if>
			<if test="ord == 'id_desc'.toString()">
				order by com_id desc
			</if>
			<if test="ord == 'no_asc'.toString()">
				order by com_no
			</if>
			<if test="ord == 'no_desc'.toString()">
				order by com_no desc
			</if>
			<if test="ord == 'name_asc'.toString()">
				order by com_name
			</if>
			<if test="ord == 'name_desc'.toString()">
				order by com_name desc
			</if>
			<if test="ord == 'dname_asc'.toString()">
				order by com_dname
			</if>
			<if test="ord == 'dname_desc'.toString()">
				order by com_dname desc
			</if>
			<if test="ord == 'mobile_asc'.toString()">
				order by com_mobile
			</if>
			<if test="ord == 'mobile_desc'.toString()">
				order by com_mobile desc
			</if>
			<if test="ord == 'mail_asc'.toString()">
				order by com_mail
			</if>
			<if test="ord == 'mail_desc'.toString()">
				order by com_mail desc
			</if>
			<if test="ord == 'addr_asc'.toString()">
				order by com_addr
			</if>
			<if test="ord == 'addr_desc'.toString()">
				order by com_addr desc
			</if>
			<if test="ord == 'enabled_asc'.toString()">
				order by enabled
			</if>
			<if test="ord == 'enabled_desc'.toString()">
				order by enabled desc
			</if>
		</if>
	</sql>
	
	<select id="searchsortcom" resultType="com">
		select *
		from company
		where com_id is not null
		<include refid="com_search"></include>
		<include refid="com_ord"></include>
	</select>
	
	<update id="updatecom">
		update company set com_no=#{com_no},com_name=#{com_name},com_dname=#{com_dname},com_mobile=#{com_mobile},com_mail=#{com_mail},com_addr=#{com_addr},enabled=#{enabled}
		where com_id=#{com_id}
	</update>
	<update id="deletecom">
		delete from company where com_id=#{com_id} 
	</update>
	
	<select id="selectadmin" resultType="admin">
		select * from admin where am_id=#{am_id}		
	</select>
	
	<sql id="board_search">
		<if test="search != null">
			<if test="search == 'no'.toString()">
				and ttr_no like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'id'.toString()">
				and com_id like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'cat'.toString()">
				and ttr_cat like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'title'.toString()">
				and ttr_title like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'date'.toString()">
				and ttr_date like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'sdate'.toString()">
				and ttr_sdate like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'edate'.toString()">
				and ttr_edate like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'place'.toString()">
				and ttr_place like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'time'.toString()">
				and ttr_time like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'alert'.toString()">
				and ttr_alert like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'content'.toString()">
				and ttr_content like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'status'.toString()">
				and status like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<sql id="board_ord">
		<if test="ord != null">
			<if test="ord == 'no_asc'.toString()">
				order by ttr_no
			</if>
			<if test="ord == 'no_desc'.toString()">
				order by ttr_no desc
			</if>
			<if test="ord == 'id_asc'.toString()">
				order by com_id
			</if>
			<if test="ord == 'id_desc'.toString()">
				order by com_id desc
			</if>
			<if test="ord == 'cat_asc'.toString()">
				order by ttr_cat
			</if>
			<if test="ord == 'cat_desc'.toString()">
				order by ttr_cat desc
			</if>
			<if test="ord == 'title_asc'.toString()">
				order by ttr_title
			</if>
			<if test="ord == 'title_desc'.toString()">
				order by ttr_title desc
			</if>
			<if test="ord == 'date_asc'.toString()">
				order by ttr_date
			</if>
			<if test="ord == 'date_desc'.toString()">
				order by ttr_date desc
			</if>
			<if test="ord == 'sdate_asc'.toString()">
				order by ttr_sdate
			</if>
			<if test="ord == 'sdate_desc'.toString()">
				order by ttr_sdate desc
			</if>
			<if test="ord == 'edate_asc'.toString()">
				order by ttr_edate
			</if>
			<if test="ord == 'edate_desc'.toString()">
				order by ttr_edate desc
			</if>
			<if test="ord == 'place_asc'.toString()">
				order by ttr_place
			</if>
			<if test="ord == 'place_desc'.toString()">
				order by ttr_place desc
			</if>
			<if test="ord == 'time_asc'.toString()">
				order by ttr_time
			</if>
			<if test="ord == 'time_desc'.toString()">
				order by ttr_time desc
			</if>
			<if test="ord == 'alert_asc'.toString()">
				order by ttr_alert
			</if>
			<if test="ord == 'alert_desc'.toString()">
				order by ttr_alert desc
			</if>
			<if test="ord == 'content_asc'.toString()">
				order by ttr_content
			</if>
			<if test="ord == 'content_desc'.toString()">
				order by ttr_content desc
			</if>
			<if test="ord == 'status_asc'.toString()">
				order by status
			</if>
			<if test="ord == 'status_desc'.toString()">
				order by status desc
			</if>
		</if>
	</sql>
	
	<select id="searchsortboard" resultType="board">
		select *
		from theater
		where ttr_no is not null
		<include refid="board_search"></include>
		<include refid="board_ord"></include>
	</select>
	
	<update id="updateBoard">
		update theater set ttr_title=#{ttr_title},ttr_date=sysdate,ttr_sdate=#{ttr_sdate},ttr_edate=#{ttr_edate},ttr_place=#{ttr_place},ttr_time=#{ttr_time},ttr_alert=#{ttr_alert},ttr_content=#{ttr_content},status=#{status}
		where ttr_no=#{ttr_no}
	</update>
	
	<update id="deleteBoard">
		delete from theater where ttr_no=#{ttr_no}
	</update>
	
	<sql id="res_search">
		<if test="search != null">
			<if test="search == 'id'.toString()">
				and res_id like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'date'.toString()">
				and res_date like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'nom'.toString()">
				and res_nom like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'seat'.toString()">
				and seat_id '%'||#{keyword}||'%'
			</if>
			<if test="search == 'mem'.toString()">
				and mem_id like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'no'.toString()">
				and ttr_no like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'imp'.toString()">
				and imp_uid like '%'||#{keyword}||'%'
			</if>
			<if test="search == 'status'.toString()">
				and status like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<sql id="res_ord">
		<if test="ord != null">
			<if test="ord == 'id_asc'.toString()">
				order by res_id
			</if>
			<if test="ord == 'id_desc'.toString()">
				order by res_id desc
			</if>
			<if test="ord == 'date_asc'.toString()">
				order by res_date
			</if>
			<if test="ord == 'date_desc'.toString()">
				order by res_date desc
			</if>
			<if test="ord == 'nom_asc'.toString()">
				order by res_nom
			</if>
			<if test="ord == 'nom_desc'.toString()">
				order by res_nom desc
			</if>
			<if test="ord == 'seat_asc'.toString()">
				order by seat_id
			</if>
			<if test="ord == 'seat_desc'.toString()">
				order by seat_id desc
			</if>
			<if test="ord == 'mem_asc'.toString()">
				order by mem_id
			</if>
			<if test="ord == 'mem_desc'.toString()">
				order by mem_id desc
			</if>
			<if test="ord == 'no_asc'.toString()">
				order by ttr_no
			</if>
			<if test="ord == 'no_desc'.toString()">
				order by ttr_no desc
			</if>
			<if test="ord == 'imp_asc'.toString()">
				order by imp_uid
			</if>
			<if test="ord == 'imp_desc'.toString()">
				order by imp_uid desc
			</if>
			<if test="ord == 'status_asc'.toString()">
				order by status
			</if>
			<if test="ord == 'status_desc'.toString()">
				order by status desc
			</if>
		</if>
	</sql>
	
	<select id="searchsortres" resultType="res">
		select *
		from reserve
		where res_id is not null
		<include refid="res_search"></include>
		<include refid="res_ord"></include>
	</select>
	
	<update id="deletresbyres_id">
		delete from reserve where res_id=#{res_id}
	</update>
	
	<select id="countboard" resultType="int">
		select count(ttr_no) from theater
	</select>
	
	<select id="countcom" resultType="int">
		select count(com_id) from company
	</select>
	
	<select id="countmem" resultType="int">
		select count(mem_id) from member
	</select>
	
	<select id="countres" resultType="int">
		select count(res_id) from reserve
	</select>
	
	<select id="selectpkboard" resultType="board">
		select * from theater where ttr_no=#{ttr_no}
	</select>
	
	<select id="selectpkres" resultType="res">
		select * from reserve where res_id=#{res_id}
	</select>
	
	<select id="selectpkcom" resultType="com">
		select * from company where com_id=#{com_id}
	</select>
	
	<select id="selectpkmem" resultType="mem">
		select * from member where mem_id=#{mem_id}
	</select>
</mapper>
